<div>
  <h2 id="page-heading" data-cy="ExcerciseHeading">
    <span>Excercises</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-excercise"
        [routerLink]="['/excercise/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Excercise </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="excercises?.length === 0">
    <span>No excercises found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="excercises && excercises.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Type</span></th>
          <th scope="col"><span>Current Volume</span></th>
          <th scope="col"><span>Starting Volume</span></th>
          <th scope="col"><span>Goal Volume</span></th>
          <th scope="col"><span>Routine</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let excercise of excercises; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/excercise', excercise.id, 'view']">{{ excercise.id }}</a>
          </td>
          <td>{{ excercise.type }}</td>
          <td>{{ excercise.currentVolume }}</td>
          <td>{{ excercise.startingVolume }}</td>
          <td>{{ excercise.goalVolume }}</td>
          <td>
            <div *ngIf="excercise.routine">
              <a [routerLink]="['/routine', excercise.routine?.id, 'view']">{{ excercise.routine?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/excercise', excercise.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/excercise', excercise.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(excercise)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
